.banner31-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.banner31-image {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
}

.timeline3-max-width {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.timeline3-container01 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.timeline3-text {
  text-align: center;
}
.timeline3-timeline-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.timeline3-step1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline3-container02 {
  gap: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.timeline3-progress0 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container03 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline3-progress001 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container04 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.timeline3-text02 {
  text-align: center;
}
.timeline3-step2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline3-container05 {
  gap: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.timeline3-progress002 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container06 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline3-progress003 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container07 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.timeline3-text04 {
  text-align: center;
}
.timeline3-step3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline3-container08 {
  gap: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.timeline3-progress004 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container09 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline3-progress005 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container10 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  padding-top: 8px;
  flex-direction: column;
  justify-content: flex-start;
}
.timeline3-text06 {
  text-align: center;
}
.timeline3-step4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline3-container11 {
  gap: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.timeline3-progress006 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container12 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline3-progress007 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container13 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.timeline3-text08 {
  text-align: center;
}
.timeline3-step5 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline3-container14 {
  gap: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.timeline3-progress008 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container15 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline3-progress009 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container16 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.timeline3-text10 {
  text-align: center;
}
.timeline3-container17 {
  gap: var(--dl-space-space-unit);
  display: flex;
}
@media(max-width: 767px) {
  .timeline3-timeline-container {
    flex-direction: column;
  }
  .timeline3-step1 {
    height: auto;
    align-items: flex-start;
    flex-direction: row;
  }
  .timeline3-container02 {
    top: 0px;
    left: 0px;
    width: auto;
    height: 100%;
    position: absolute;
    flex-direction: column;
  }
  .timeline3-progress0 {
    display: none;
  }
  .timeline3-progress001 {
    height: 100%;
  }
  .timeline3-container04 {
    height: auto;
    align-items: flex-start;
    padding-top: 0px;
    padding-left: var(--dl-space-space-twounits);
    padding-bottom: 0px;
  }
  .timeline3-text02 {
    text-align: left;
  }
  .timeline3-step2 {
    height: auto;
    align-items: flex-start;
    flex-direction: row;
  }
  .timeline3-container05 {
    top: 0px;
    left: 0px;
    width: auto;
    height: 100%;
    position: absolute;
    flex-direction: column;
  }
  .timeline3-progress002 {
    display: none;
  }
  .timeline3-progress003 {
    height: 100%;
  }
  .timeline3-container07 {
    height: auto;
    align-items: flex-start;
    padding-top: 0px;
    padding-left: var(--dl-space-space-twounits);
    padding-bottom: 0px;
  }
  .timeline3-text04 {
    text-align: left;
  }
  .timeline3-step3 {
    height: auto;
    align-items: flex-start;
    flex-direction: row;
  }
  .timeline3-container08 {
    top: 0px;
    left: 0px;
    width: auto;
    height: 100%;
    position: absolute;
    flex-direction: column;
  }
  .timeline3-progress004 {
    display: none;
  }
  .timeline3-progress005 {
    height: 100%;
  }
  .timeline3-container10 {
    height: auto;
    align-items: flex-start;
    padding-top: 0px;
    padding-left: var(--dl-space-space-twounits);
    padding-bottom: 0px;
  }
  .timeline3-text06 {
    text-align: left;
  }
  .timeline3-step4 {
    height: auto;
    align-items: flex-start;
    flex-direction: row;
  }
  .timeline3-container11 {
    top: 0px;
    left: 0px;
    width: auto;
    height: 100%;
    position: absolute;
    flex-direction: column;
  }
  .timeline3-progress006 {
    display: none;
  }
  .timeline3-progress007 {
    height: 100%;
  }
  .timeline3-container13 {
    height: auto;
    align-items: flex-start;
    padding-top: 0px;
    padding-left: var(--dl-space-space-twounits);
    padding-bottom: 0px;
  }
  .timeline3-text08 {
    text-align: left;
  }
  .timeline3-step5 {
    height: auto;
    align-items: flex-start;
    flex-direction: row;
  }
  .timeline3-container14 {
    top: 0px;
    left: 0px;
    width: auto;
    height: 100%;
    position: absolute;
    flex-direction: column;
  }
  .timeline3-progress008 {
    display: none;
  }
  .timeline3-progress009 {
    height: 100%;
  }
  .timeline3-container16 {
    height: auto;
    align-items: flex-start;
    padding-top: 0px;
    padding-left: var(--dl-space-space-twounits);
    padding-bottom: 0px;
  }
  .timeline3-text10 {
    text-align: left;
  }
}
@media(max-width: 479px) {
  .timeline3-container17 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
}

.shiatsu-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.shiatsu-container01 {
  width: 100%;
  height: 138px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-theme-neutral-dark);
}
.shiatsu-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-dark);
}
.shiatsu-text {
  color: rgb(255, 255, 255);
}
.shiatsu-desktop-menu {
  gap: var(--dl-space-space-threeunits);
  display: flex;
}
.shiatsu-nav {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.shiatsu-icon {
  width: 16px;
  height: 16px;
}
.shiatsu-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.shiatsu-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.shiatsu-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.shiatsu-nav1 {
  display: flex;
  z-index: 20;
  align-items: flex-start;
  flex-direction: column;
}
.shiatsu-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.shiatsu-text002 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
}
.shiatsu-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shiatsu-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.shiatsu-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.shiatsu-button-container {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.shiatsu-login {
  margin-right: var(--dl-space-space-twounits);
}
.shiatsu-icon-group {
  display: flex;
  z-index: 20;
}
.shiatsu-icons {
  display: flex;
}
.shiatsu-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.shiatsu-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.shiatsu-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.shiatsu-background {
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 80%;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.shiatsu-text008 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.shiatsu-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
}
.shiatsu-container04 {
  flex: 0 0 auto;
  width: 408px;
  height: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.shiatsu-image {
  width: 200px;
  align-self: center;
  object-fit: cover;
}
.shiatsu-container05 {
  flex: 0 0 auto;
  width: 372px;
  height: 205px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.shiatsu-container06 {
  width: 100%;
  height: 428px;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-dark);
}
.shiatsu-container07 {
  flex: 0 0 auto;
  width: 1000px;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
.shiatsu-text021 {
  color: var(--dl-color-gray-900);
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.shiatsu-text022 {
  fill: var(--dl-color-gray-900);
  color: var(--dl-color-gray-900);
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.shiatsu-container08 {
  width: 1200px;
  height: 432px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.shiatsu-container09 {
  flex: 0 0 auto;
  width: 1000px;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.shiatsu-text034 {
  width: 403px;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.shiatsu-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: flex-start;
  margin-bottom: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.shiatsu-text060 {
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.shiatsu-container11 {
  width: 100%;
  height: 169px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-left: var(--dl-space-space-fourunits);
}
.shiatsu-container12 {
  flex: 0 0 auto;
  width: 600px;
  height: 178px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.shiatsu-text063 {
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
}
.shiatsu-text066 {
  align-self: center;
  padding-left: var(--dl-space-space-twounits);
}
.shiatsu-container13 {
  flex: 0 0 auto;
  width: 600px;
  height: 159px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.shiatsu-text067 {
  margin-bottom: var(--dl-space-space-unit);
}
.shiatsu-text068 {
  align-self: center;
}
.shiatsu-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.shiatsu-container15 {
  flex: 0 0 auto;
  width: 400px;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.shiatsu-text075 {
  margin-bottom: var(--dl-space-space-unit);
}
.shiatsu-text076 {
  align-self: center;
}
.shiatsu-container16 {
  width: 100%;
  height: 1352px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.shiatsu-container17 {
  width: 1000px;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.shiatsu-text082 {
  width: 135px;
  height: 41px;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.shiatsu-container18 {
  flex: 0 0 auto;
  width: 900px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.shiatsu-text083 {
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
}
.shiatsu-container19 {
  flex: 0 0 auto;
  width: 900px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.shiatsu-text089 {
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
}
.shiatsu-container20 {
  flex: 0 0 auto;
  width: 900px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.shiatsu-text098 {
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
}
.shiatsu-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-gray-900);
}
.shiatsu-content {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: 300px;
  padding-right: 300px;
  flex-direction: column;
}
.shiatsu-details {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
}
.shiatsu-description {
  width: 100%;
  font-size: 18px;
  line-height: 27px;
}
.shiatsu-socials {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: row;
}
.shiatsu-link3 {
  display: contents;
}
.shiatsu-image1 {
  text-decoration: none;
}
.shiatsu-copyright {
  width: 100%;
  font-size: 14px;
  line-height: 21px;
}
@media(max-width: 767px) {
  .shiatsu-desktop-menu {
    display: none;
  }
  .shiatsu-burger-menu {
    display: flex;
  }
  .shiatsu-icon02 {
    fill: white;
  }
  .shiatsu-nav1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .shiatsu-container02 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .shiatsu-text002 {
    color: #000000;
  }
  .shiatsu-nav2 {
    gap: var(--dl-space-space-unit);
  }
  .shiatsu-text003 {
    color: #000000;
  }
  .shiatsu-text004 {
    color: rgb(0, 0, 0);
  }
  .shiatsu-text005 {
    color: rgb(0, 0, 0);
  }
  .shiatsu-text006 {
    color: rgb(0, 0, 0);
  }
  .shiatsu-text007 {
    color: rgb(0, 0, 0);
  }
  .shiatsu-button-container {
    gap: var(--dl-space-space-unit);
    width: 50%;
    margin-top: 0px;
    align-items: flex-start;
    flex-direction: column;
  }
  .shiatsu-login {
    width: 100%;
    border-width: 1px;
    margin-right: 0px;
  }
  .shiatsu-register1 {
    width: 100%;
    border-width: 1px;
  }
  .shiatsu-icon-group {
    width: 100%;
    justify-content: flex-start;
  }
  .shiatsu-footer {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .shiatsu-content {
    gap: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .shiatsu-description {
    font-size: 14px;
    line-height: 21px;
  }
  .shiatsu-socials {
    gap: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .shiatsu-mobile-menu {
    padding: 16px;
  }
  .shiatsu-button-container {
    width: 100%;
  }
  .shiatsu-icon-group {
    justify-content: center;
  }
}
