{% extends "base.jinja" %}
{% block content %}
<div class="container-fluid p-0">
    <div class="header-section">
        <div class="header-text">
            <h1 class="text center mt-4 mb-3">O mně</h1>
        </div>
    </div>
</div>
<div class="container-fluid p-0">
    <div class="row p-5">
        <div class="col-md-6">
            <img src="public/images/me.jpg" alt="Description of Image" class="img-fluid image-container">
        </div>
        <div class="col md-6">
            <p class="mt-2">Jmenuji se Michaela Clark</p>
            <p>
                Jsem od podstaty zvědavá a ta zvědavost mě vede ke zkoumání a propojování směrů, které spolu na první
                pohled nesouvisí. Hlavně výtvarné umění a pohyb.</p>
            <p>
                K lásce k pohybu mě přivedlo aikido. Japonské bojové umění, které je trochu jiné než všechny ostatní, co
                jsem zatím potkala. Být v kontaktu, najít společný směr a cestu, co vede do harmonie. Uvědomovat si svůj
                vlastní střed, osu a dech.
            </p>
            <p>
                Potom můžu být v kontaktu se světem a zároveň sama se sebou. A v tu chvíli se může dít shiatsu. Dotek,
                co dává prostor pro uvolnění. Chvíle, kdy můžete vnímat sami sebe a najít pohodlí ve svém těle.
            </p>

            <p>
                Ale to stejné nastavení se mi osvědčilo i pro malbu nebo čajovou cestu.
            </p>

            <p>
                Hledám cestu, jak žít. V současnosti se aktivně věnuju čajování v Jedné básni, blues dance s Blues Dose
                a shibari u Diany Very.
            </p>

            <p>
                Děkuju vám všem, které jsem měla tu čest potkat. Ukazujete mi různé stránky života a učíte mě…
            </p>

            <p>
                Těším se i na vás, co jsem ještě nepotkala. Na společné (ne)obyčejné chvíle.</p>
            </p>
        </div>
        {% endblock %}