<!DOCTYPE html>
<html lang="cz">

<head>
    <meta property="og:title" content="Dotekem" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&amp;subset=devanagari,latin-ext"
        rel="stylesheet">

    <title>DOTEKEM</title>

    <link rel="shortcut icon" type="image/icon" href="public/images/Logo-dotekem.png" />

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" />

    <!--bootstrap.min.css-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">


</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" id="navbar-menu" href="index.html">
            <img src="public/images/Logo-dotekem.png" width="40" height="auto" alt="logo" class="navbar-logo bi me-2">
            DOTEKEM
        </a>


        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link{% if active_page == 'index' %} active{% endif %}"
                    aria-current="page" href="index.html">Domů</a></li>
            <li class="nav-item"><a class="nav-link{% if active_page == 'shiatsu' %} active{% endif %}"
                    href="shiatsu.html">Shiatsu</a></li>
            <li class="nav-item"><a class="nav-link{% if active_page == 'about-me' %} active{% endif %}"
                    href="about-me.html">O mně</a></li>
            <li class="nav-item"><a class="nav-link{% if active_page == 'contact' %} active{% endif %}"
                    href="contact.html">Kontakt</a></li>
        </ul>

    </nav>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>

<div id="footer">
    {% block footer %}
    <footer class="home-footer">
        <div class="text-center">
            <span>DOTEKEM.cz</span>
            <br />
            <span>Michaela Clark</span>
            <br />
            <span>723 277 132</span>
            <br />
            <span>IČ: 08268908</span>
            <br />
        </div>
    </footer>
    {% endblock %}
</div>

</html>