{% extends "base.jinja" %}
{% block content %}
<div class="container-fluid p-0">
    <div class="header-section">
        <div class="header-text">
            <h1 class="text center mt-4 mb-3">About me</h1>
        </div>
    </div>
</div>
<div class="container-fluid p-0">
    <div class="row p-5">
        <div class="col-md-4">
            <img src="public/images/me.jpg" alt="Description of Image" class="img-fluid image-container">
        </div>
        <div class="col md-8">
              <p class="mt-2">My name is Michaela Clark</p>
                        <p>
                            I’m curious by nature and my curiosity leads me to
                            explore and connect different, at first glance
                            unrelated, directions. Mainly visual arts and
                            movement.</p>
                        <p>
                            I fell in love with movement thanks to aikido.
                            Japanese martial arts that’s a bit different from
                            all the other ones I’ve met so far. To be in touch,
                            to find a common direction and a path that leads to
                            harmony. To be aware of my own center, axis and
                            breath.
                        </p>
                        <p>
                            Only then I can be in touch with the world and with
                            myself at the same time. And from that position
                            shiatsu can happen. A touch that gives space for
                            relaxation. A moment when you can feel yourself and
                            find comfort in your body.
                        </p>
                        <p>
                            But the same set up works for painting or the way of
                            tea as well.
                        </p>
                        <p>
                            I’m looking for a way, how to live. At the moment I
                            can be found making tea in Jedna Báseň, blues
                            dancing at socials from Blues Dose or studying
                            shibari from Diana Vera.
                        </p>
                        <p>
                            Thank you all that I had the honor to meet. You keep
                            showing me different
                            sides of life and teaching me…

                        </p>
                        <p>
                            I’m also looking forward to meeting those of you
                            that I’ve not had the chance to meet yet. To all the
                            shared (extra)ordinary moments.
                        </p>
        </div>
        {% endblock %}