{% extends "base.jinja" %}

{% block content %}
<div class="container-fluid p-0">
    <div class="header-section">
        <div class="header-text">
            <h1 class="text center mt-4 mb-3">Contact</h1>
        </div>
    </div>
</div>
<div class="container-fluid p-0">
    <div class="row p-5 justify-content-center">
        <div class="col-md-4 justify-content-center">
            <div class="container-fluid pb-5">
                <div class="card border-dark">
                    <div class="card-body row d-flex align-items-center">
                        <div class="col d-flex">
                            <img src="public/images/Logo-dotekem.png" alt="logo" class="w-auto">
                        </div>
                        <div class="col">
                            <h5 class="card-title mb-2">Michaela Clark</h5>
                            <p>
                                Fyzická osoba
                            </p>
                            <p class="mt-2">
                                Vacínova 1848/2,
                            </p class="mb-3">
                            180 00, Praha 8 - Libeň
                            </p>
                            <p>
                                IČO:08268908
                            </p>
                            <p class="card-text mt-2 mb-2">m@dotekem.cz</p>
                            <p class="card-textmb-2">+420 723 277 132</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 justify-content-center">
            <iframe
                src="https://docs.google.com/forms/d/e/1FAIpQLScIhyz6gj5WssANa9z4_8yIg5DTMwlhaBalCKm6RCNtiOcn8g/viewform?embedded=true"
                style="width:100%" height="1500" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
    </div>
    {% endblock %}