{% extends "base.jinja" %}
{% block content %}
<div class="container-fluid p-0">
    <div class="header-section">
    </div>
</div>
<div class="container-fluid p-0">
    <div class="row p-5">
        <h2 class="mt-2">Handling of personal information</h2>
        <p>
            You authorize Michaela Clark, based in Vacínova 1848/2, 180 00 Praha 8 - Libeň, IČO: 08268908, registered in
            the registry of trade license, Trade Licensing Office with jurisdiction according to Section 71, paragraph 2
            of the Trade Licensing Act
            Municipal office of Prague 8 (“Data Controller”) to handle the given personal information according to Czech
            law 101/2000 in connection with scheduling services.
        </p>
        <p>
            You can revoke this agreement at any time by sending an e-mail or letter to the Data Controller.</p>
    </div>
</div>
{% endblock %}