{% extends "base.jinja" %}

{% block content %}
<div class="row p-0">
  <div class="background-container">
    <div class="content">
      <h1 class="text-uppercase"> Touch-connection-harmony</h1>
      <a href="en_contact.html" class="btn btn-pretty sm-mt-4">Book your shiatsu</a>
    </div>
  </div>
</div>

<div class="container p-0">
  <div class="row justify-content-center pt-5 ps-5 pe-5">
    <div class="col-md-6 align-self-center">
      <h2 class="mt-4 mb-3">Shiatsu</h2>
      <p class="fst-italic mb-2">Gently, with respect and with my full attention.</p>
      <p class="mb-2">
        That is how I approach shiatsu and each of you, who come to me.
      </p>
      <p class="mb-2">
        Whether you need to relax your stiff back, calm your mind or return to yourself.
      </p>
      <p class="mb-2">
        A touch as a form of working with different layers of being.
      </p>
      <a href="en_shiatsu.html" class="btn btn-pretty">more about shiatsu</a>
    </div>
    <div class="col-md-6">
      <div class="container">
        <img alt="image" src="public/images/shiatsu-lotus.jpg" class="img-fluid" />
      </div>
    </div>
  </div>
  <div class="row justify-content-center pb-5 ps-5 pe-5">
    <div class="col-md-6">
      <div class="container d-none d-md-block">
        <img alt="image" src="public/images/shiatsu-hands.jpg" class="img-fluid" />
      </div>
    </div>
    <div class="col-md-6 align-self-center">
      <div class="p-3">
        <h2 class="mt-4 mb-3">For companies</h2>
        <p class="fst-italic mb-2">
          Do you want to offer your employees an unusual benefit?
        </p>
        <p class="mb-2">
          Japanese shiatsu massage is just the thing.
        </p>
        <p class="mb-2">
          As a client you stay fully dressed from head to toes.
        </p>
        <p class="mb-2">
          As a company all you have to arrange is space.
        </p>
        <p class="mb-2">
          A room with empty floor space 2x2,5m and a comfortable room temperature.
        </p>
        <p class="mb-2">
          Everything else I’ll bring with me.
        </p>
        <a href="en_shiatsu.html#companies" class="btn btn-pretty">more information</a>
      </div>
    </div>
  </div>
  <div class="row p-0">
    <img src="public/images/line-wide.svg" alt="pagebreaker">
  </div>
  <div class="row mt-3 p-3">
    <h1 class="text-center mt-4">Reviews</h1>
    <div class="container-fluid text-center">
      <img src="public/images/line-wide.svg" height="35" alt="underline">
    </div>
    <div class="container col-md-6 mt-5">
      <div class="card">
        <div class="card-body">
          <p>
            Masáž od Míši je jemná a příjemná a někdy v průběhu i usnu...
            Hned po masáži se cítím uvolněná a dozvuky vší té péče, které se mi dostalo, cítím v několika
            následujících dnech.
            Vřele doporučuji vyzkoušet.
          </p>
          <h5 class="card-title">Milada Bouzidi</h5>
          <p>(Freelance lektorka Aj)</span>
        </div>
      </div>
    </div>
    <div class="container col-md-6 mt-5">
      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLScnlN40B5sqsLtKECOhFQGV1aDSb0y4dk18dkJFufLs806kQg/viewform?embedded=true"
        style="width:100%" height="880" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
  </div>
</div>
<div class="background-container-shiatsu2">
  <div class="container-fluid text-white text-center p-5">
    <h2 class="mt-3 mb-3 text-uppercase">Harmony, respect, purity and tranquility</h2>
    <p>The four principles of Chadō</p>
  </div>
</div>
<div class="row p-5">
  <h2 class="text-center mt-3 mb-3">Shiatsu as a gift</h2>
  <p>An envelope with a voucher for a shiatsu massage can be a great gift for your partner, family or friends. After
    purchase they'll have half a year to schedule an appointment.
  </p>
  <div class="container d-flex justify-content-center">
    <img alt="image" src="public/images/shiatsu-poukaz.jpg" class="w-75" />
  </div>
</div>
</main>
{% endblock %}