{% extends "base.jinja" %}
{% block content %}
<div class="container-fluid p-0">
    <div class="header-section">
    </div>
</div>
<div class="container-fluid p-0">
    <div class="row p-5">
        <h2 class="mt-2">Zpracování osobních údajů</h2>
        <p>
            Udělujete souhlas fyzické osobě Michaele Clark, se sídlem Vacínova 1848/2, 180 00 Praha 8 - Libeň, IČO:
            08268908, zapsané v živnostenském rejstříku, Úřad příslušný podle §71 odst.2 živnostenského zákona: Úřad
            městské části Praha 8 (dále jen „Správce“), aby ve smyslu zákona 101/2000 zpracovával poskytnuté osobní
            údaje v souvislosti s komunikací o objednámí služeb.
        </p>
        <p>
            Souhlas lze vzít kdykoliv zpět, a to zasláním e-mailu nebo dopisu na kontaktní údaje Správce.</p>
    </div>
</div>
{% endblock %}