{% extends "base.jinja" %}

{% block content %}
<div class="container-fluid p-0">
    <div class="header-section">
        <div class="header-text">
            <h1 class="text center mt-4 mb-3">Shiatsu</h1>
        </div>
    </div>
</div>
<div class="container-fluid p-4">
    <div class="text-center">
        <p class="lead fst-italic mt-3 mb-2">Jemně, s respektem a plnou pozorností.</p>
        <p class="mb-2">
            Tak přistupuji k shiatsu a ke každému z vás, kdo za mnou
            přicházíte.
        </p>
        <p class="mb-2">
            Ať už potřebujete uvolnit ztuhlá záda, uklidnit mysl nebo
            vrátit k sobě.
        </p>
        <p class="mb-2">
            Dotek jako způsob práce s různými vrstvami bytí.
        </p>
        </p>
    </div>
</div>
<div class="container-fluid bg-secondary p-5">
    <h2 class="text-center mt-3 mb-3">
        Pár slov o shiatsu (a mojí cestě k němu)
    </h2>
    <p class="mb-2">Japonská celostní masáž, která kombinuje prvky klasické čínské medicíny s technikami západní
        fyzioterapie. Má
        potenciál uvolnit nejenom fyzické tělo, ale i jemnější vrstvy – emoce, myšlenkové vzorce, apod.</p>
    <p class="mb-2">
        Vzhledem k zemi původu vás asi nepřekvapí, že pro shiatsu není potřeba masérské lehátko, ale daleko lépe
        poslouží futon (japonská matrace). Další rozdíl oproti obvyklým masážím je, že vy jako klient zůstáváte oblečení
        od hlavy až po ponožky.</p>
    <p class="mb-2">
        Do Japonska jsem kvůli tomu ale necestovala (zatím). Učila jsem se a stále se učím u fyzioterapeuta a mistra
        tai-ji Jana Pletánka v Pardubicích (taiji-pardubice.cz).</p>
    <p class="mb-2">
        Kromě studia shiatsu a pohybu (aikido, tanec) jsem prošla masérskou rekvalifikací “sportovní a relaxační masáž”
        v Praze ve Studiu Římská v roce 2019.</p>
    </p>
</div>
<div class="container-fluid p-5">
    <h2 class="text-center mt-3 mb-3">
        Průběh shiatsu masáže
    </h2>
    <p class="mb-2">Nabízím hodinu času pro vás, kdy budete mít příležitost jen tak ležet a všímat si, zatímco já přes
        dotek povedu
        vaši pozornost.</p>
    <p class="mb-2">
        Před začátkem samotné masáže mě bude zajímat, co zrovna je pro vás v otázce těla, myšlenek a pocitů aktuální. Co
        byste právě teď potřebovali?</p>
    <p class="mb-2">
        S takhle nastaveným záměrem se pak lépe pracuje. Povídání může zabrat cca 5 minut.</p>
    <p class="fw-bold mt-2 mb-2">
        například:
    </p>
    <ul>
        <li class="mb-2">
            Dneska mám ztuhlá ramena a potřebuju svým trapézovým svalům připomenout, že se můžou uvolnit.
        </li>
        <li class="mb-2">
            Mám plnou hlavu myšlenek, až se mi špatně soustředí.
        </li>
        <li class="mb-2">
            Potřebovala bych je na chvíli vypnout, abych si odpočinula.
        </li>
        <li class="mb-2">
            Moje svaly v předloktí jsou napnuté jako struny.
        </li>
        <li class="mb-2">
            Potřebuju je rychle uvolnit a naučit se pár cviků, aby se do
            toho stavu nedostávaly.
        </li>
    </ul>
    <p>
        Potom následuje samotná masáž (doteková terapie), kdy budete zcela oblečení (případně ještě přikrytí dekou)
        ležet na břiše nebo na zádech na masážní podložce. (45-50 min)
    </p>
    <p>
        Na konci budete mít 5-10 minut na postupné doznění a probuzení.
    </p>

</div>
<div class="container-fluid bg-dark text-white text-center p-5">
    <h2 class="mt-3 mb-3">Cena a čas</h2>
    <p class="mb-2">
        60 minut shiatsu . . . . . 1000 Kč
    </p>
    <p class="mb-2">
        1,5h shiatsu & čaj . . . . . 1200 Kč
    </p>
</div>
<div class="container-fluid p-5">
    <h2 class="text-center mt-3 mb-3">Volné termíny</h2>
    <p class="mt-2 mb-2">
        Nejaktuálnější na mém instagramu @dotek.em ve výběru<span class="fst-italic">“volné termíny”</span></p>
    <p class="mb-2">
        Nehodí se vám žádný z nich?</p>
    <p class="mb-2">
        Napište mi a já se vám co nejdříve ozvu. S večerními termíny bývá náročnější najít společný čas, ale často mívám
        volno během dne – hlavně dopoledne.
    </p>
    <div class="container text-center">
        <a class="btn btn-success p-2" href="contact.html">Napište mi</a>
    </div>
</div>
<div class="container-fluid text-center bg-secondary p-5">
    <h2 class="mb-3">Kde pracuji</h2>
    <p class="mt-2 mb-2">
        U vás v obýváku. Pouštím se naplno do cestování za vámi. Vlastní prostor v tuhle chvíli nemám.
    </p>
    <p class="mb-2">
        Shiatsu pochází z Japonska, a tak ideální pracovní prostředí je na zemi, respektive na podložce s dekou.
    </p>
    <p class="mb-2">
        Všechno potřebné si přivezu a na vás bude jen zařídit místo na zemi o rozměrech 2×2,5m.
    </p>
</div>
<div class="container-fluid p-5">
    <div class="container">
        <h1 class="text-center mt-3 mb-3">Pro firmy</h1>
        <p class="fst-italic mb-2">
            Chcete svým zaměstnancům dopřát neobvyklý benefit?
        </p>
        <p class="mb-2">
            Japonská shiatsu masáž je na to ideální.
        </p>
        <p class="mb-2">
            Jako klient zůstáváte
            oblečení od hlavy až po ponožky.
        </p>
        <p class="mb-2">
            Jako firma jediné, co
            potřebujete zařídit, je prostor.
        </p>
        <p class="mb-2">
            Místnost s volným prostorem
            na podlaze 2x2,5m a příjemnou pokojovou teplotou.
        </p>
        <p class="mb-2">
            Vše ostatní
            potřebné si dovezu.
        </p>
    </div>
    <div class="container">
        <h3>Proč zrovna shiatsu?</h3>
        <p>Je to relax. Po necelé hodině masáže často od lidí slyším, že mají pocit jako po dobrém šlofíku. Každý jsme
            jiný, takže i každá masáž probíhá trochu jinak, ale jedno mají společné - jemnost. V podstatě pomocí jemných
            dotekových technik vytvářím dojem bezpečného prostoru, do kterého se tělo může uvolnit. Odložit napětí a
            stres, aspoň na chvíli.</p>
        <p>
            Vedlejší účinky jsou občasné usnutí při masáži, chuť mít pomalejší zbytek dne nebo bezdůvodný lehký úsměv na
            tváři.
        </p>
    </div>
    <div class="container">
        <h3>Průběh shiatsu dne ve firmě</h3>
        <p>infografika - každý bod vlastní ikonku
            Domluvíme jednorázově nebo pravidelně den v pracovním týdnu (po-pá).
            Zájemci se dopředu budou moct zapsat na přesný čas. (okna 1h + 10 min pauza)
            Ráno přijdu a připravím prostor na masáže (odkaz na text o požadavcích na prostor)
            Masáže samotné (odkaz na průběh 1 masáže)
            Pauza na oběd
            Další masáže (odkaz na průběh 1 masáže)
        </p>
    </div>
    <div class="container">
        <h3>Varianty platby:</h3>
        <p>Firma zařizuje prostor i platí jednotlivé masáže</p>
        <p>.</p>
        <p>. prostor na kombinaci variant (firma přispívá zaměstnancům x Kč)</p>
        <p>.</p>
        <p>Firma zařizuje prostor a masáže si platí každý zvlášť</p>
    </div>
    <div class="container-fluid bg-success text-center text-white p-4">
        <h4 class="lead">Shiatsu kdekoliv jinde na celý den?
        </h4>
        <p> festivaly, pohybové akce, teambuilding</p>
    </div>
</div>
<h2></h2>
<p></p>
{% endblock %}