{% extends "base.html" %}

{% block content %}
<!--welcome-hero start -->
<section id="welcome-hero" class="welcome-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="header-text">
          <h2> Dotekem <br> do přítomnosti </h2>
          <p>něco o pozornosti, soustředění a jednoduchosti…všechno je umění,
            když se k tomu tak přistupuje. Co dělám? pomáhám soustřeďovat
            pozornost.</p>
          <button href="contact.html" class="button">chci přijít na
            shiatsu</button>
        </div><!--/.header-text-->
      </div><!--/.col-->
    </div><!-- /.row-->
  </div><!-- /.container-->

</section><!--/.welcome-hero-->
<!--welcome-hero end -->

<!--about start -->
<section class="home-notes">
  <div class="home-first">
    <div data-aos="fade-up-right" class="home-content">
      <h2 class="home-header1">Shiatsu</h2>
      <div class="home-list">
        <div class="home-note">
          <p class="home-text11">
            <span>Jemně, s respektem a plnou pozorností.</span>
            <br />
            <br />
            <span>
              Tak přistupuji k shiatsu a ke každému z vás, kdo za mnou
              přicházíte.
            </span>
            <br />
            <br />
            <span>
              Ať už potřebujete uvolnit ztuhlá záda, uklidnit mysl nebo
              vrátit k sobě.
            </span>
            <br />
            <br />
            <span>
              Dotek jako způsob práce s různými vrstvami bytí.
            </span>
            <br />
          </p>
        </div>
        <div class="home-note1"><div class="home-point"></div></div>
      </div>
    </div>
    <img
      alt="image"
      src="templates/images/shiatsu-background-1400w.jpg"
      class="home-image image-notes"
    />
  </div>
  <div class="home-second">
    <div data-aos="fade-up-left" class="home-content1">
      <h2 class="home-header2">
        <span class="home-text23">Pro firmy</span>
        <br />
        <br />
        <br />
      </h2>
      <p class="home-text27">
        <span class="home-text28">
          Chcete svým zaměstnancům dopřát neobvyklý benefit?
        </span>
        <br />
        <span>
          Japonská shiatsu masáž je na to ideální. Jako klient zůstáváte
          oblečení od hlavy až po ponožky. Jako firma jediné, co
          potřebujete zařídit, je prostor. Místnost s volným prostorem
          na podlaze 2x2,5m a příjemnou pokojovou teplotou. Vše ostatní
          potřebné si dovezu.
        </span>
        <br />
      </p>
      <button class="button button-style-2 home-register2" href="contact.html">
        <span>Kontaktujte mě</span>
        <svg viewBox="0 0 1024 1024" class="home-icon12">
          <path
            d="M512 170l342 342-342 342-60-60 238-240h-520v-84h520l-238-240z"
          ></path>
        </svg>
      </button>
    </div>
    <img
      alt="image"
      src="templates/images/shiatsu-background-1400w.jpg"
      class="image-notes"
    />
  </div>
</section>
<section class="home-quote">
  <div class="home-content2">
    <p class="home-quoted">
      <span>
        Masáž od Míši je jemná a příjemná a někdy v průběhu i usnu...
        <br>
        <br />
        Hned po masáži se cítím uvolněná a dozvuky vší té péče, které se mi dostalo, cítím v několika
        následujících dnech.
        <br>
        <br />
        Vřele doporučuji vyzkoušet.</span>
      </p>
    <div class="home-author">
      <div class="home-details">
        <span class="home-name">Milada Bouzidi</span>
        <span class="home-from">(Freelance lektorka Aj)</span>
      </div>
    </div>
  </div>
  <img
    alt="image"
    src="public/quote-background.svg"
    class="home-background2"
  />
  <div class="home-background3">
    <h2 class="home-title">Recenze</h2>
  </div>
  <h1>Heading</h1>
</section>
<section class="home-watch">
  <div class="home-content3">
    <h2 class="home-header3">Něco inspirativního</h2>
    <span>To bych potřebovala taky...</span>
    <button class="button home-register3">
      <span>chci shiatsu</span>
      <svg viewBox="0 0 1024 1024" class="home-icon15">
        <path
          d="M512 170l342 342-342 342-60-60 238-240h-520v-84h520l-238-240z"
        ></path>
      </svg>
    </button>
  </div>
  <img
    alt="image"
    src="public/trailer-background.svg"
    class="home-image2"
  />
</section>
<section class="home-subscribe">
  <div class="home-main">
    <h2 class="home-header4">Kontaktujte mě!</h2>
    <div class="home-content4">
      <div class="home-inputs">
        <input
          type="text"
          required=""
          placeholder="Name *"
          autocomplete="name"
          class="home-textinput input"
        />
        <input
          type="email"
          required=""
          placeholder="Email *"
          autocomplete="email"
          class="home-textinput1 input"
        />
      </div>
      <span class="home-text44">
        By submitting, you agree to receive email communications from
        OnConf, including upcoming promotions and discounted tickets,
        news, and access to exclusive invite-only events.
      </span>
      <button class="home-button1 button">
        <span>
          <span>chci něco</span>
          <br />
        </span>
      </button>
    </div>
  </div>
</section>
      </main>
      {% endblock %}