{% extends "base.html" %}

{% block content %}
    <!--welcome-hero start -->
    <section id="welcome-hero" class="welcome-hero">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="header-text">
                <h2> Dotekem <br> do přítomnosti  </h2>
                <p>něco o pozornosti, soustředění a jednoduchosti…všechno je umění, když se k tomu tak přistupuje. Co dělám? pomáhám soustřeďovat pozornost.</p>
                <button href="contact.html" class="button" >chci přijít na shiatsu</button>
              </div><!--/.header-text-->
            </div><!--/.col-->
          </div><!-- /.row-->
        </div><!-- /.container-->
  
      </section><!--/.welcome-hero-->
      <!--welcome-hero end -->
  
      <!--about start -->
      <section id="shiatsu" class="shiatsu">
        <div class="section-heading text-center" padding: 10%>
          <h2>Shiatsu</h2>
        </div>
        <div class="container">
          <div class="shiastu-content">
            <div class="row">
              <div class="col-sm-6">
                <div class="single-shiatsu-txt">
                  <h3>
                    Jemně, s respektem a plnou pozorností.
                    Tak přistupuji k shiatsu a ke každému z vás, kdo za mnou přicházíte.
                    Ať už potřebujete uvolnit ztuhlá záda, uklidnit mysl nebo vrátit k sobě.
                    Dotek jako způsob práce s různými vrstvami bytí.
                  </h3>
                  <br><h3>Pro firmy</h3><br>
                  <p>
                    Chcete svým zaměstnancům dopřát neobvyklý benefit?
                    Japonská shiatsu masáž je na to ideální. Jako klient zůstáváte
                    oblečení od hlavy až po ponožky. Jako firma jediné, co potřebujete
                    zařídit, je prostor. Místnost s volným prostorem na podlaze 2x2,5m a
                    příjemnou pokojovou teplotou. Vše ostatní potřebné si dovezu.
                  </p>
                </div>
                  <div class="row">
                    <button class="home-button1" href="shiatsu.html" >chci přijít na shiatsu</button>
                  </div>
                </div>
              </div>
              <div class="col-sm-offset-1 col-sm-5">
                <div class="single-about-img">
                  <img src="templates/images/shiatsu-background-1400w.jpg" alt="profile_image">							
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
    <section class="container">
      <div class="review">
        <h2>Recenze</h2>
        <br>
        <p>Masáž od Míši je jemná a příjemná, někdy v průběhu i usnu. Hned po
        masáži se cítím uvolněná a
        dozvuky vší té péče, které se mi dostalo, cítím v několika
        následujících dnech. Vřele doporučuji
        vyzkoušet.
        Milada Bouzidi
        (Freelance lektorka Aj)</p>
      </div>
    </section>
    <section class="container">
      <h2>No inspirativniho</h2>
      <p>To bych taky potrebovala...</p>
    </section>
    <section class="container">
      <h2>Kontaktujte mě</h2>
      <p>formular zde</p>
    </section>
  </main>
{% endblock %}